
body{
    margin: 0;
}
header{
    gap: 100px;
    height: 2.5cm;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg,rgb(219, 129, 77),rgb(238, 43, 9));
    
}
.menu{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: 15%;
    flex-wrap: wrap;
}
header input{
    margin-left: 20%;
    width: 4cm;
    height: 1cm;
    border-radius: 0.2cm;
    border: none;
    outline:none;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(248, 170, 139);
    transition: all 0.6s ease-out;
}
header input:hover{
    transform: scale(1.1) rotate(-5deg);
    background-color: rgb(255, 166, 0);
}

#btntab{
    margin-left: 20%;
    margin-top: 1cm;
    width: 5cm;
    height: 1.5cm;
    border-radius: 0.2cm;
    border: none;
    outline:none;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(248, 170, 139);
    transition: all 0.6s ease-out;
}
#btntab:hover{
    transform: scale(1.1) rotate(-5deg);
    background-color:#af1d1d;
    border: none;
}
header h1{
    background: linear-gradient(90deg, red, rgb(187, 66, 66));
    -webkit-background-clip: text; /* For chrome */
    background-clip: text; 
    display: flex;
    margin-left: 1%;
    -webkit-text-fill-color: transparent; /* For chrome */
}
nav ul a{
    color:#fff ;
    font-size: large;
    text-decoration: none;
    transition: all 1s ;
    transition-timing-function: ease-in-out;

}
nav ul a:hover{
    font-size: 1.5em;
    color: orange;
}
#section1{
    
    animation-name:switch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    background-repeat: no-repeat;
    background-size: cover;
   /* background-attachment: fixed;
    background-position: bottom;*/
    height:100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url(../src/Component/img/bg-hero.jpg);
    
}

@keyframes switch {
    from{opacity: 0%;width: 0%;}
    to{opacity: 80%;width: 100%;}
}

#img2{
    opacity: 1;
    position: absolute;
    left: 22cm;
    top: 5cm;
    width: 500px;
    height: 500px;
    animation: rotate 40s linear 0s infinite forwards  ;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}
.title{
    animation-name:switch2;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-direction: normal;
    animation-fill-mode: both;
    font-size:1.5cm;
    position: absolute;
    top: 4cm;
    color: #af1d1d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.p{
    animation-name:switch2;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-direction: normal;
    animation-fill-mode: both;
    font-size:0.5cm;
    position: absolute;
    top: 9cm;
    color: #3a3636;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@keyframes switch2 {
    from{opacity: 0%;}
    to{opacity: 100%;}
}
/*------les 4 divisions------*/
.div4{
    display: flex;
    margin-left: 9%;
    margin-bottom: 5%;
    margin-top: 5%;
    
}
.divsel{
    margin-left: 5%;
    padding: 2%;
    border-radius: 2%;
    transition: all 1s ;
    box-shadow: 8px 8px 8px rgb(201, 195, 195);
    cursor: url();
    background-color:rgb(226, 239, 250);
    
}
.divsel:hover{
    background-color:  rgb(231, 65, 36);
    box-shadow: 8px 8px 8px  rgb(224, 117, 98);
    border-color: rgb(231, 65, 36);
    color: white;
}
/*----------------menu----------*/
.divmenu{
    text-align: center;
}
.divmenu img{
    border-radius: 100%;
}
.divmenu h1{
    font-size:1cm;
    color: rgb(4, 4, 31);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.divmenu h2{
    color: rgb(238, 43, 9);

}
.divmenu h3{
    color: rgb(4, 4, 31);
    text-align:left;
}
.divmenu p{
    color: rgb(78, 75, 75);
}
.divmenu b{
    color:  rgb(238, 43, 9);
    font-size: larger;
    
}
.divmenu div{
    display: flex;
    margin: 15%;
    margin-top: 0;
}
.divmenu table{
    margin-left: 4%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menuplat{
display: flex;
}
/*-----------Reservation-------------*/
.divres{
    display: flex;

}
.divres aside{
    position: relative;
    margin-right: 3%;
}
.divres h1{
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.divres h2{
    color: rgb(179, 36, 10);
}
.divres form{
    padding:5%;
    width: 100%;
    background: linear-gradient(45deg,rgb(219, 129, 77),rgb(238, 43, 9));
}
.divres input, select{
    height: 1cm;
    border-radius: 4%;
    border: transparent;
    outline: none;
        
}
.divres textarea{
    outline: none;
}
.divres input[type="button"]{
    width: 100%;
    font-weight: bolder;
    background: linear-gradient(45deg,rgb(238, 43, 9),rgb(219, 129, 77));
    cursor: pointer;
    color: white;
    width: 69%;
}
.divres input[type="button"]:hover{
    color: rgb(0, 0, 0);
}
.divres input[type="datetime-local"]{
    width: 100%;
}
.divres select{
    width: 100%;
}
/*----Footer------*/
footer{
    margin-top: 10%;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(45deg,rgb(219, 129, 77),rgb(238, 43, 9));
}
footer div{
    margin-left: 3cm;
}
footer h2{
   color:  rgb(255, 166, 0);
}
footer input[type=submit]{
    height: 21%;
    color: aliceblue;
    background-color: rgb(255, 136, 0);
    border: none;
    border-radius: 1%;
}
footer input[type=email]{
    height: 20%;
    border: none;
    border-radius: 1%;
}
/*------------Our chef--------------*/
.ourchef{
    display: flex;
    margin: 20%;
    
}
.ourchef :nth-child(1){
    width: 5cm;
    height: 5cm;
    background-image: url(./Component/img/team-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.ourchef :nth-child(1):hover{
    opacity: 0.6;
    transition: all 0.6s ease-out;
}
.ourchef :nth-child(2){
    margin-left:4%;
    width: 5cm;
    height: 5cm;
    background-image: url(./Component/img/team-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.ourchef :nth-child(2):hover{
    opacity: 0.6;
    transition: all 0.6s ease-out;
}
.ourchef :nth-child(3):hover{
    opacity: 0.6;
    transition: all 0.6s ease-out;
}
.ourchef :nth-child(4):hover{
    opacity: 0.6;
    transition: all 0.6s ease-out;
}

.ourchef :nth-child(3){
    margin-left:4%;
    width: 5cm;
    height: 5cm;
    background-image: url(./Component/img/team-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.ourchef :nth-child(4){
    margin-left:4%;
    width: 5cm;
    height: 5cm;
    background-image: url(./Component/img/team-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

